.red { -fx-fill: red; }

.purple { -fx-fill: #a613c6; }

.grey { -fx-fill: #969696; }

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #4D4D5C;
}

.menu-bar {
    -fx-background-color: #4D4D5C;
} .menu > .label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14;
}

.editor {
    -fx-background-color: #FAFAFC;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab {
    -fx-background-color: rgba(0,0,0,0);
} .tab .tab-label {
    -fx-text-fill: #fafafc;
    -fx-font-size: 13;
    -fx-padding: 0 5;
}

.tab-pane .tab:selected {
    -fx-background-color: #fafafc;
    -fx-background-radius: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;
} .tab:selected .tab-label {
    -fx-text-fill: #4D4D5C;
} .tab:selected .focus-indicator {
    -fx-opacity: 0;
}

.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
    -fx-fill: #969696;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: blue;
}

.comment {
	-fx-fill: cadetblue;
}
.colon {
    -fx-fill: #969696;
} .caret {
    -fx-fill: #969696;
} .tag {
    -fx-fill: purple;
    -fx-font-weight: bold;
} .param {
    -fx-fill: green;
    -fx-font-style: italic;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}